<% @response_data.each do |response| %>
  <img src="<%= response["image_url"] %>">
  <p><a href="<%= response["url"] %>"><%= response["name"] %></a></p>
  <p><%= response["display_phone"] %></p>
  <p><%= response["location"]["display_address"] %></p>

<% end %>