<%if @notice %>
  <p class="centered_text"><%= @notice %></p>
<% end %>
<%= form_tag("/beer_genres/search", method: "get", id: "search_genres") do %>
	<% @flavors.each_with_index do |flavor| %>
			<label><%= check_box_tag("flavors[]", flavor.name, false, id: flavor.name) %><%= flavor.name%></label>
	<% end %>
<p class="centered_text clear_margins"><%= submit_tag("beer me!", id: "find_genre_submit") %></p>
<% end %>