
<%= form_tag("/beer_genres/search", method: "get", id: "search_genres", remote: true) do %>
	<table id="flavor_table" class="centered_block">
	<% @flavors.each_with_index do |flavor, index| %>
		<% if index % 4 == 0 %>
			<tr>
				<td>
					<%= check_box_tag("flavors[]", flavor.name, false, id: flavor.name) %>
					<%= label_tag(flavor.name, flavor.name)%>
				</td>
		<% elsif index % 4 == 3 %>
				<td>
					<%= check_box_tag("flavors[]", flavor.name, false, id: flavor.name) %>
					<%= label_tag(flavor.name, flavor.name)%>
				</td>
			</tr>
		<% else %>
			<td>
				<%= check_box_tag("flavors[]", flavor.name, false, id: flavor.name) %>
				<%= label_tag(flavor.name, flavor.name)%>
			</td>
		<% end %>
	<% end %>
	</table>
	<p class="centered_text clear_margins"><%= submit_tag("find beers!", id: "find_genre_submit") %></p>

<% end %>