<div id="search_viewport">
  <div id="search_results">
    <% @best_match_genres.each do |genre| %>
      <div class="genre clear_margins" id="<%= genre.id %>">
        <h2 class="centered_text genre_name"><%= genre.name %></h2>
        <p class="genre_description"><%= genre.description %></p>
        <div class="center_button">
          <%= button_to "Get Suggestions!", {action: "search", controller: "beers"}, class: "beer_search_button",id: genre.name, "data-id" => genre.id , remote: true %>
          <%= button_to "Find Locations!", {action: "index", controller: "location_lookup"}, class: "beer_map_button", "data-id" => genre.id, remote: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="beer_template" class="hidden">
  <div class="sample_beer"></div>
</div>
<div id="beer_results"></div>

<div id="map_template" class="hidden">
  <div id="map-canvas"></div>
</div>