<!DOCTYPE html>
<html>
<head>
  <title>Amber</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div id="top_wrapper">
		<%= render partial: "/home/nav" %>

		<h1 class="main_logo centered_text clear_floats"> Amber </h1>
		<h2 class="clear_margins centered_text">Select some flavor profiles to get started!</h2>
		<hr id="separator"/>

		<div id="search_form_holder" class="centered_block">
			<%= render partial: "/beer_genres/search" %>
		</div>
	</div>

<%= yield %>

</body>
</html>
